# Ignora o node_modules de qualquer subpasta (inclusive do API Gateway)
**/node_modules/

# Ignora todos os ambientes virtuais (venv)
**/venv/

# Ignora __pycache__ de qualquer lugar
api_rest_django/api_rest__pycache__/
**/__pycache__/

*.pyc


